ion-card {
    margin-top:20px;
    border: 1px solid #42718a;
    border-radius: 12px;
}

ion-card-title {
    color:#42718a
}

ion-badge {
    color:red;
}

.pending {
    color:red
}
.completed {
    color:green;
}

