<div class="slideshow">
  <input type="radio" name="ss1" id="ss1-item-1" class="slideshow--bullet" checked="checked" />
  <div class="slideshow--item">
    <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/00/02/44/5056179b42b174f.jpg" />
    <label for="ss1-item-3" class="slideshow--nav slideshow--nav-previous">Go to slide 3</label>
    <label for="ss1-item-2" class="slideshow--nav slideshow--nav-next">Go to slide 2</label>
  </div>

  <input type="radio" name="ss1" id="ss1-item-2" class="slideshow--bullet" />
  <div class="slideshow--item">
    <img src="https://t3.ftcdn.net/jpg/04/56/11/06/360_F_456110688_0RbzwTy8UVyZwtObuxr8lb3XRr28R24X.jpg" />
    <label for="ss1-item-1" class="slideshow--nav slideshow--nav-previous">Go to slide 1</label>
    <label for="ss1-item-3" class="slideshow--nav slideshow--nav-next">Go to slide 3</label>
  </div>

  <input type="radio" name="ss1" id="ss1-item-3" class="slideshow--bullet" />
  <div class="slideshow--item">
    <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/00/02/44/5056179b42b174f.jpg" />
    <label for="ss1-item-2" class="slideshow--nav slideshow--nav-previous">Go to slide 2</label>
    <label for="ss1-item-4" class="slideshow--nav slideshow--nav-next">Go to slide 4</label>
  </div>
  
  <input type="radio" name="ss1" id="ss1-item-4" class="slideshow--bullet" />
  <div class="slideshow--item">
    <img src="https://t3.ftcdn.net/jpg/04/56/11/06/360_F_456110688_0RbzwTy8UVyZwtObuxr8lb3XRr28R24X.jpg" />
    <label for="ss1-item-3" class="slideshow--nav slideshow--nav-previous">Go to slide 3</label>
    <label for="ss1-item-1" class="slideshow--nav slideshow--nav-next">Go to slide 1</label>
  </div>

</div>