


<ion-content [fullscreen]="true">


  <!-- Login Page -->
  <div class="container" >
    <div style="text-align: center;">
      <img style="margin-top:30px;padding: 30px; width:200px;" src="assets/logo.png">
    </div>
    <div *ngIf="spinner" class="rubii-spinner"></div>  
    <h1 class="heading">Welcome<br><br></h1>
    <p class="para">Sign in to continue!</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Username</legend> 
          <ion-input formControlName="username"  type="text" clearInput="true" placeholder="name@domain.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input type="password" formControlName="password" clearInput="true" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
      <p class="forget-text"><a>Forgot Password?</a></p>
      <p class="signup-text">I'm a new user&nbsp;<a (click)="register()">Sign Up?</a></p>
      <ion-button class="login-button" expand="block" [disabled]="!loginForm.valid" type="submit" strong="true">Login</ion-button>
      <!-- <ion-button class="google-button" expand="block" color="light"><ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;Google Signin</ion-button> -->
    </form>
  </div>

    <!-- Sign up page -->
  
    <!-- Forget password page -->

  </ion-content>
