<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons (click)="home()" style="margin-left:20px" slot="start">
      <ion-icon name="arrow-back-outline" style="font-size: 25px"></ion-icon>
    </ion-buttons>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <ion-card-header>
      <ion-card-title>Loyalty Points</ion-card-title>
    </ion-card-header>
    <ion-card-content> 200 </ion-card-content>
  </ion-card>
 
</ion-content>
